.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  border-bottom: 2px solid #f0f0f0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  flex-wrap: wrap; /* Ermöglicht Anpassung bei kleinen Bildschirmen */
}

body, .footerContainer {
  font-family: 'Lato', sans-serif;
}

.navbar.dark {
  background-color: #1e1e1e; /* Dunkler Hintergrund im Dark Mode */
  color: #ffffff; /* Helle Schrift im Dark Mode */
}

.navbar .logo a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #ff6600;
}

.navbar .logo a:hover {
  color: #ff884d;
}

.navbar .navLinks {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  flex-wrap: wrap; /* Verhindert Umbruch bei Platzmangel */
}

.navbar .navLinks li {
  font-size: 16px;
  white-space: nowrap; /* Hält die Links in einer Zeile */
}

.navbar .navLinks a {
  text-decoration: none;
  color: #333333;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar .navLinks a:hover {
  color: #ff6600;
}

.navbar .navActions {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.navbar .loginButton {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  background-color: #ff6600;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.navbar .loginButton:hover {
  background-color: #e55b00;
  transform: scale(1.05);
}

.navbar .loginButton:active {
  background-color: #cc4f00;
  transform: scale(0.95);
}

/* Media Query für kleinere Bildschirme */
@media (max-width: 10768px) {
  .navbar {
    padding: 10px;
  }

  .navLinks {
    justify-content: center;
    width: 100%;
  }

  .navActions {
    margin: 0;
    margin-left: auto;
  }
}

