.dropdownContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  background-color: var(--background-color); /* Dynamischer Hintergrund */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  border: 1px solid var(--border-color); /* Dynamische Border */
  z-index: 10;
  animation: slideDown 0.3s ease-in-out;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdownItem {
  padding: 12px 16px;
  font-size: 16px;
  color: var(--text-color); /* Dynamische Textfarbe */
  cursor: pointer;
  border-bottom: 1px solid var(--border-color); /* Dynamische Border */
  transition: background-color 0.2s ease, color 0.2s ease;
}

.dropdownItem:last-child {
  border-bottom: none;
}

.dropdownItem:hover {
  background-color: var(
    --hover-background-color
  ); /* Dynamischer Hover-Hintergrund */
  color: var(--hover-text-color); /* Dynamische Hover-Textfarbe */
}

.dropdownItem:active {
  background-color: var(
    --active-background-color
  ); /* Dynamischer Active-Hintergrund */
  color: var(--active-text-color); /* Dynamische Active-Textfarbe */
}

/* Animation for dropdown */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Scrollbar styling */
.dropdownContainer::-webkit-scrollbar {
  width: 6px;
}

.dropdownContainer::-webkit-scrollbar-thumb {
  background-color: var(
    --scrollbar-thumb-color
  ); /* Dynamische Scrollbar-Farbe */
  border-radius: 3px;
}

.dropdownContainer::-webkit-scrollbar-thumb:hover {
  background-color: var(
    --scrollbar-thumb-hover-color
  ); /* Dynamische Hoverfarbe */
}

.dropdownItem:focus,
.dropdownItem.focused {
  background-color: var(--focus-background-color); /* Dynamische Fokusfarbe */
  color: var(--focus-text-color); /* Dynamische Fokus-Textfarbe */
  outline: none; /* Entfernt zusätzliche Umrandungen */
}
