/* Stellt sicher, dass der gesamte Inhalt innerhalb des Viewports bleibt */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
/* overflow-x: hidden; */ /* Vorübergehend entfernt */}

/* Setzt eine maximale Breite für den Hauptcontainer */
.appContainer {
  width: 100%;
  max-width: 1200px; /* Maximale Breite für Desktop */
  margin: 0 auto; /* Zentriert die App */
  padding: 20px;
}

/* Medienabfragen für verschiedene Bildschirmgrößen */
@media (max-width: 768px) {
  .appContainer {
    padding: 10px; /* Weniger Padding für kleinere Bildschirme */
  }

  /* Weitere spezifische Anpassungen hier */
}

/* Dark Mode für die gesamte App */
.dark-mode {
  background-color: #121212; /* Dunkler Hintergrund */
  color: #ffffff; /* Helle Schrift */
}

/* Spezifische Stile für Navbar */
.dark-mode .navbar {
  background-color: #1e1e1e; /* Dunklerer Hintergrund */
  color: #ffffff;
}

/* Spezifische Stile für Content */
.dark-mode .content {
  background-color: #1a1a1a; /* Dunkler Hintergrund */
  color: #e0e0e0; /* Angepasste Schriftfarbe */
}
