/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* Dark Mode für die gesamte App */
.dark-mode {
  background-color: #121212; /* Dunkler Hintergrund */
  color: #ffffff; /* Helle Schrift */
}

/* Spezifische Stile für Navbar */
.dark-mode .navbar {
  background-color: #1e1e1e; /* Dunklerer Hintergrund */
  color: #ffffff;
}

/* Spezifische Stile für Content */
.dark-mode .content {
  background-color: #1a1a1a; /* Dunkler Hintergrund */
  color: #e0e0e0; /* Angepasste Schriftfarbe */
}
